<div class="ui container">
  <br>
  <h2 class="ui header">Quick repositories search</h2>

  <div class="ui search">
    <div class="ui left icon input" [formGroup]="form">
      <input class="prompt" type="text" placeholder="Search GitHub" (input)="onInput($event)" formControlName="query">
      <i class="github icon"></i>
    </div>
  </div>
  <br>

  <div class="ui relaxed divided list" *ngFor="let repo of repos">
    <div class="item">
      <a [href]="repo.html_url">
        <img class="ui avatar image" [src]="repo.owner.avatar_url">
      </a>
      <div class="content">
        <a [href]="repo.html_url" [innerHTML]="repo.full_name" class="header"></a>
        <div class="description">${{repo.description}}</div>
      </div>
      <div class="ui hidden divider"></div>
    </div>

  </div>


</div>


<!--{{repos | json}}-->